body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', 'Montserrat', 'Sacramento', cursive, sans-serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0;
  color: #45b29a;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #45b29a;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #45b29a;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.5em;
  background-color: #e0ebe8;
}

nav li {
  display: inline-block;
  margin-left: 1.5em;
  font-weight: 400;
  font-size: 110%;
}

.initial {
  color: #45b29a;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #e0ebe8;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #c5ded7;
  padding: 50px 0 20px;
}

.copyright {
  font-size: 0.75rem;
  color: #45b29a;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

img {
  border-radius: 50%;
  border: 0;
}

.me {
  height: 10%;
  width: 10%;
}

.me2, .me3 {
  height: 25%;
  width: 25%;
}

.me2 {
  float: right;
  margin-left: 50px;
}

.me3 {
  float: left;
  margin-right: 50px;
}

.top-cloud, .bottom-cloud {
  position: absolute;
}

.top-cloud {
  right: 18.75%;
  top: 8.125%;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
}

.btn {
  background: #34d95a;
  border-radius: 11px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
}

.btn:hover {
  background: #24ff50;
}
